<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Framework Type</key>
	<string>Public</string>
	<key>Framework Entry</key>
	<string>initCooldownFramework</string>
	<key>Framework Name</key>
	<string>cooldownFramework</string>
	<key>Framework Description</key>
	<string>A framework to manage user and action-based cooldowns.</string>
	<key>Framework Version</key>
	<string>1.0.2</string>
	<key>Framework Identifier</key>
	<string>hex.carnations.cooldownFramework</string>
	<key>Framework Structure</key>
	<dict>
		<key>Main</key>
		<string>cooldownFramework.ts</string>
	</dict>
</dict>
</plist>
