<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Module Name</key>
	<string>cooldown</string>
	<key>Module Description</key>
	<string>Allows users to check their active cooldowns.</string>
	<key>Module Version</key>
	<string>1.0.0</string>
	<key>Module Identifier</key>
	<string>hex.carnations.cooldown</string>
	<key>Module Structure</key>
	<dict>
		<key>Main</key>
		<string>cooldown.ts</string>
	</dict>
	<key>Module Abilities</key>
	<dict>
		<key>canInitSlashCommands</key>
		<true/>
	</dict>
	<key>Module Environment</key>
	<dict/>
	<key>Module Settings</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>binSupport</key>
		<false/>
		<key>moduleEntryPoint</key>
		<string>cooldownInit</string>
		<key>depsOn</key>
		<string>discordFramework, cooldownFramework</string>
		<key>hasPreviousInit</key>
		<true/>
		<key>debugMode</key>
		<false/>
	</dict>
	<key>Module Commands</key>
	<dict>
		<key>cooldowns</key>
		<string>Check your active cooldowns.</string>
	</dict>
	<key>Module Command Arguments</key>
	<dict>
		<key>cooldowns</key>
		<string>None</string>
	</dict>
	<key>Module Command Arg Type</key>
	<dict/>
	<key>Module Command Arg Descriptions</key>
	<dict/>
	<key>Module Command Arg Requirement</key>
	<dict/>
</dict>
</plist>
