<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Driver Type</key>
	<string>Private</string>
	<key>Driver Entry</key>
	<string>initialize</string>
	<key>Driver Name</key>
	<string>sequelizerDriver</string>
	<key>Driver Description</key>
	<string>MariaDB/MySQL Sequelize-based driver for the Hexley database framework.</string>
	<key>Driver Version</key>
	<string>1.0.0</string>
	<key>Driver Identifier</key>
	<string>hex.carnations.sequelizerDriver</string>
	<key>Driver Structure</key>
	<dict>
		<key>Main</key>
		<string>sequelizerDriver.ts</string>
	</dict>
</dict>
</plist>
